body {
    background-image: url('Resources/blurred_desk1.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    background-color: #fafafa;
    margin-top: 100px;
    margin-left: 35%;
    width: 600px;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    display: grid;
}

.confirmation {
    background-color: #fafafa;
    margin-left: 25%;
    margin-top: 100px;
    width: 50%;
    box-shadow: 10px 15px 20px rgba(0, 0, 0, .1);
    display: grid;
    padding: 20px 0;
    color: #000;
    text-align: center;
}

.heading {
    font-size: 35px;
    text-transform: uppercase;
}

.container-form {
    padding: 20px 0;
    margin: auto;
    color: #000;
}

form {
    display: grid;
    grid-row-gap: 20px;
}

.form-horizontal {
    padding-top: 10px;
    padding-bottom: 10px;
}

select {
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn {
    background-color: rgba(0, 0, 0, .95);
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-size: 18px;
    border-radius: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
    box-shadow: 7px 10px 12px rgba(0, 0, 0, .1);
    cursor: pointer;
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}

.btn:hover {
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
    box-shadow: 10px 12px 15px rgba(0, 0, 0, .3);
}

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white;
    color: black;
    border: 2px solid #000000;
}

.button1:hover {
    background-color: #000000;
    color: white;
}

.individu1 {
    margin-left: 35%;
    display: inline-block;
    float: left;
    background-color: white;
    border: black;
    color: black;
    border: 2px solid #000000;
}

.form-check{
    float: right;
}

.time-label{
    margin-right: 5px;
}


body {
    color: #fff;
    overflow-x: hidden;
    height: 100%;
    background-color: #000;
    background-repeat: no-repeat
}

.container-fluid {
    margin-top: 80px;
    margin-bottom: 80px
}

.card {
    background-color: #424242;
    padding: 40px 10px
}

.text-grey {
    color: #9E9E9E
}

.fa {
    font-size: 25px;
    cursor: pointer
}

input,
select {
    padding: 2px 6px;
    border: none;
    border-bottom: 1px solid #fff;
    border-radius: none;
    box-sizing: border-box;
    color: #fff;
    background-color: transparent;
    font-size: 14px;
    letter-spacing: 1px;
    text-align: center !important
}

input:focus,
select:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border-bottom: 1px solid #00C853;
    outline-width: 0
}

select option {
    background-color: #616161
}

select option:focus {
    background-color: #00C853 !important
}

::placeholder {
    color: #fff;
    opacity: 1
}

:-ms-input-placeholder {
    color: #fff
}

::-ms-input-placeholder {
    color: #fff
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0
}

.btnDate {
    border-radius: 50px;
    width: 120px
}

.exit {
    border: 1px solid #9E9E9E;
    color: #9E9E9E;
    background-color: transparent
}

.exit:hover {
    border: 1px solid #9E9E9E;
    color: #000 !important;
    background-color: #9E9E9E
}

@media screen and (max-width: 768px) {
    .mob {
        width: 70%
    }

    select.mob {
        width: 50%
    }
}

