html, body
{
    overflow: hidden;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(HomePagePic.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100vh;
}

.Login {
    width: 400px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-color: grey;
    height: 600px;
    border-radius: 25px;
}

.Login input[type = "text"], .Login input[type = "password"] {
    font-size: 95%;
    font-weight: 900;
    border: 0;
    background: #FFFFFF;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #FFFFFF;
    padding: 14px 10px;
    width: 280px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
}

.Login input[type = "text"] {
    background-image: url(person2.jpg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 20px 10px;
}

.Login input[type = "password"] {
    background-image: url(slotje3.jpg);
    background-size: 10%;
    background-repeat: no-repeat;
    background-position: 20px 5px;
}

.Login input[type = "text"]:focus, .Login input[type = "password"]:focus {
    width: 360px;
    border-color: #2ecc71;
}

.Login input[type = "text"]:focus {
    background-position: 20px 5px;
}

.Login input[type = "password"]:focus {
    background-position: 20px 2px;
}

.Login input[type = "submit"] {
    font-size: 95%;
    font-weight: 900;
    opacity: 80%;
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #FFFFFF;
    padding: 14px 40px;
    width: 280px;
    outline: none;
    color: black;
    border-radius: 24px;
    transition: 0.25s;
    cursor: pointer;
}

.Login input[type = "submit"]:hover {
    background: #33ff3f;
}

.Logo {
    position: fixed;
    bottom: 45px;
    left: 45px;
}

.Login .LoginScreenTekst {
    text-decoration: underline;
    font-style: italic;
    color: #000000;
}

.Login .LoginScreenTekst > .tekst1:hover {
    color: blue;
}

.Login .LoginScreenTekst > .tekst2:hover {
    color: blue;
}

.Login .LoginScreenTekst > .tekst3:hover {
    color: blue;
}
